<!-- Computer section -->
<div id="hdd_div" class="generic-container" ng-controller="ComputerController as ctrl">
    <div class="panel panel-default">
        <div class="panel-heading text-center"><span class="lead">Регистрация компьютера</span></div>
        <div class="panel-heading text-center"><span class="lead">Здесь вы сможете ввести всю информацию о компьютере</span></div>

        <div class="formcontainer">
            <form ng-submit="ctrl.nextToInfo()" name="myForm" class="form-horizontal">

                <div class="row">
                    <div class="form-actions floatRight">
                        <input type="submit"  value="Продолжить" class="btn btn-primary btn-sm">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

