<div class="container" ng-controller="ComputerListController as ctrl">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group has-feedback">
                <input type="text" class="form-control input-md computer-header text-right" placeholder="Поиск компьютера" ng-model="search.invNumber"/>
                <i class="glyphicon glyphicon-search form-control-feedback"></i>
            </div>
            <div class="list-group computer-list">
                <div ng-repeat="c in ctrl.computers | filter:search">
                    <a class="list-group-item" ng-click="ctrl.show(c.invNumber)">Инвентарный номер: <span ng-bind="c.invNumber"></span></a>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <ul class="nav nav-tabs">
                <li class="active"><a id="main-info" data-toggle="tab" data-target="#info">Основные</a></li>
                <li><a data-toggle="tab" data-target="#hdd">Жесткие диски</a></li>
                <li><a data-toggle="tab" data-target="#processor">Процессор</a></li>
                <li><a data-toggle="tab" data-target="#motherboard">Материнская плата</a></li>
                <li><a data-toggle="tab" data-target="#powersupply">Блок питания</a></li>
                <li><a data-toggle="tab" data-target="#ram">Память</a></li>
            </ul>

            <div class="tab-content">
                <div id="info" class="tab-pane fade in active">
                    {{number}}
                    <table class="table table-striped">
                        <tbody class="body-space">
                        <tr>
                            <th>Общие характеристики</th>
                        </tr>
                        <tr>
                            <td class="table-first-column">Инвентарный номер:</td>
                            <td><span ng-bind="ctrl.computer.invNumber"></span></td>
                        </tr>
                        <tr>
                            <td class="table-first-column">Пользователь:</td>
                            <td><span ng-bind="ctrl.computer.user"></span></td>
                        </tr>
                        <tr>
                            <td class="table-first-column">Местонахождение:</td>
                            <td><span ng-bind="ctrl.computer.location"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="hdd" class="tab-pane fade">
                    <table class="table table-striped">
                        <tbody class="body-space">
                        <tr>
                            <th>Жесткие диски</th>
                        </tr>
                        <tr>
                            <td class="table-first-column">Производитель:</td>
                            <td><span ng-bind="ctrl.computer.hdd.manufacturer"></span></td>
                        </tr>
                        <tr>
                            <td class="table-first-column">Модель:</td>
                            <td><span ng-bind="ctrl.computer.hdd.model"></span></td>
                        </tr>
                        <tr>
                            <td class="table-first-column">Серийный номер:</td>
                            <td><span ng-bind="ctrl.computer.hdd.serial"></span></td>
                        </tr>
                        <tr>
                            <td class="table-first-column">Емкость:</td>
                            <td><span ng-bind="ctrl.computer.hdd.capacity"></span></td>
                        </tr>
                        <tr>
                            <td class="table-first-column">Тип диска:</td>
                            <td><span ng-bind="ctrl.computer.hdd.hddType"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="processor" class="tab-pane fade">
                    <table class="table table-striped">
                        <tbody class="body-space">
                        <tr>
                            <th>Процессор</th>
                        </tr>
                        <tr>
                            <td class="table-first-column">Производитель:</td>
                            <td><span ng-bind="ctrl.computer.processor.manufacturer"></span></td>
                        </tr>
                        <tr>
                            <td class="table-first-column">Модель:</td>
                            <td><span ng-bind="ctrl.computer.processor.model"></span></td>
                        </tr>
                        <tr>
                            <td class="table-first-column">Скорость:</td>
                            <td><span ng-bind="ctrl.computer.processor.speed"></span></td>
                        </tr>
                        <tr>
                            <td class="table-first-column">Количество ядер:</td>
                            <td><span ng-bind="ctrl.computer.processor.numberOfCores"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="motherboard" class="tab-pane fade">
                    <table class="table table-striped">
                        <tbody class="body-space">
                        <tr>
                            <th>Материнская плата</th>
                        </tr>
                        <tr>
                            <td class="table-first-column">Производитель:</td>
                            <td><span ng-bind="ctrl.computer.motherBoard.manufacturer"></span></td>
                        </tr>
                        <tr>
                            <td class="table-first-column">Модель:</td>
                            <td><span ng-bind="ctrl.computer.motherBoard.model"></span></td>
                        </tr>
                        <tr>
                            <td class="table-first-column">Сокет:</td>
                            <td><span ng-bind="ctrl.computer.motherBoard.socket"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="powersupply" class="tab-pane fade">
                    <table class="table table-striped">
                        <tbody class="body-space">
                        <tr>
                            <th>Блок питания</th>
                        </tr>
                        <tr>
                            <td class="table-first-column">Производитель:</td>
                            <td><span ng-bind="ctrl.computer.powerSupply.manufacturer"></span></td>
                        </tr>
                        <tr>
                            <td class="table-first-column">Модель:</td>
                            <td><span ng-bind="ctrl.computer.powerSupply.model"></span></td>
                        </tr>
                        <tr>
                            <td class="table-first-column">Мощность:</td>
                            <td><span ng-bind="ctrl.computer.powerSupply.power"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="ram" class="tab-pane fade">
                    <table class="table table-striped">
                        <tbody class="body-space">
                        <tr>
                            <th>Оперативная память</th>
                        </tr>
                        <tr>
                            <td class="table-first-column">Производитель:</td>
                            <td><span ng-bind="ctrl.computer.ram.manufacturer"></span></td>
                        </tr>
                        <tr>
                            <td class="table-first-column">Модель:</td>
                            <td><span ng-bind="ctrl.computer.ram.model"></span></td>
                        </tr>
                        <tr>
                            <td class="table-first-column">Объем:</td>
                            <td><span ng-bind="ctrl.computer.ram.capacity"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>