<!-- Hdd section -->
<div id="hdd_div" class="generic-container" ng-controller="ComputerController as ctrl">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="lead">Добавление жесткого диска</span></div>

        <div class="formcontainer">
            <form ng-submit="ctrl.nextToMotherboard()" name="myForm" class="form-horizontal">
                <input type="hidden" ng-model="ctrl.hdd.id" />

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable">Производитель</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl.hdd.manufacturer" name="hdd_manufacturer" class="field form-control input-sm" placeholder="Введите производителя жесткого диска" required ng-minlength="2" ng-maxlength="10"/>
                            <div class="has-error" ng-show="myForm.$dirty">
                                <span ng-show="myForm.hdd_manufacturer.$error.required">Это поле необходимо заполнить</span>
                                <span ng-show="myForm.hdd_manufacturer.$error.minlength">Поле должно содержать как минимум 2 символа</span>
                                <span ng-show="myForm.hdd_manufacturer.$error.maxlength">Поле должно содержать не более 10 символов</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable">Модель</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl.hdd.model" name="hdd_model" class="field form-control input-sm" placeholder="Введите модель жесткого диска" required ng-minlength="2" ng-maxlength="10"/>
                            <div class="has-error" ng-show="myForm.$dirty">
                                <span ng-show="myForm.hdd_model.$error.required">Это поле необходимо заполнить</span>
                                <span ng-show="myForm.hdd_model.$error.minlength">Поле должно содержать как минимум 2 символа</span>
                                <span ng-show="myForm.hdd_model.$error.maxlength">Поле должно содержать не более 10 символов</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable">Серийный номер</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl.hdd.serial" name="hdd_serial" class="field form-control input-sm" placeholder="Введите серийный номер жесткого диска" required ng-minlength="2" ng-maxlength="17"/>
                            <div class="has-error" ng-show="myForm.$dirty">
                                <span ng-show="myForm.hdd_serial.$error.required">Это поле необходимо заполнить</span>
                                <span ng-show="myForm.hdd_serial.$error.minlength">Поле должно содержать как минимум 2 символа</span>
                                <span ng-show="myForm.hdd_serial.$error.maxlength">Поле должно содержать не более 17 символов</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable">Емкость</label>
                        <div class="col-md-7">
                            <input type="text" pattern="^[0-9]*$" ng-model="ctrl.hdd.capacity" name="hdd_capacity" class="field form-control input-sm" placeholder="Введите емкость жесткого диска" required ng-minlength="2" ng-maxlength="6"/>
                            <div class="has-error" ng-show="myForm.$dirty">
                                <span ng-show="myForm.hdd_capacity.$error.required">Это поле необходимо заполнить</span>
                                <span ng-show="myForm.hdd_capacity.$error.minlength">Поле должно содержать как минимум 2 символа</span>
                                <span ng-show="myForm.hdd_capacity.$error.maxlength">Поле должно содержать не более 6 символов</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable">Тип диска</label>
                        <div class="col-md-7">
                            <select class="field form-control input-sm"  name="hdd_hddType" ng-model="ctrl.hdd.hddType" required>
                                <option ng-repeat="x in ['HDD','SSD']" ng-value="x">{{x}}</option>
                            </select>
                            <div class="has-error" ng-show="myForm.$dirty">
                                <span ng-show="myForm.hdd_hddType.$error.required">Это поле необходимо заполнить</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-actions floatRight">
                        <input type="submit"  value="Продолжить" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>