<!-- Info section -->
<div id="hdd_div" class="generic-container" ng-controller="ComputerController as ctrl">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="lead">Общая информация</span></div>

        <div class="formcontainer">
            <form ng-submit="ctrl.nextToHdd()" name="myForm" class="form-horizontal">
                <input type="hidden" ng-model="ctrl.computer.id" />

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable">Инвентарный номер</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl.info.invNumber" name="computer_invnumber" class="field form-control input-sm" placeholder="Введите инвентарный номер компьютера" required ng-minlength="1" ng-maxlength="10"/>
                            <div class="has-error" ng-show="myForm.$dirty">
                                <span ng-show="myForm.computer_invnumber.$error.required">Это поле необходимо заполнить</span>
                                <span ng-show="myForm.computer_invnumber.$error.minlength">Поле должно содержать как минимум 1 символ</span>
                                <span ng-show="myForm.computer_invnumber.$error.maxlength">Поле должно содержать не более 10 символов</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable">Пользователь</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl.info.user" name="computer_user" class="field form-control input-sm" placeholder="Введите пользователя" required ng-minlength="2" ng-maxlength="17"/>
                            <div class="has-error" ng-show="myForm.$dirty">
                                <span ng-show="myForm.computer_user.$error.required">Это поле необходимо заполнить</span>
                                <span ng-show="myForm.computer_user.$error.minlength">Поле должно содержать как минимум 2 символа</span>
                                <span ng-show="myForm.computer_user.$error.maxlength">Поле должно содержать не более 17 символов</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable">Местонахождение</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl.info.location" name="computer_location" class="field form-control input-sm" placeholder="Введите местонахождение компьютера" required ng-minlength="2" ng-maxlength="17"/>
                            <div class="has-error" ng-show="myForm.$dirty">
                                <span ng-show="myForm.computer_location.$error.required">Это поле необходимо заполнить</span>
                                <span ng-show="myForm.computer_location.$error.minlength">Поле должно содержать как минимум 2 символа</span>
                                <span ng-show="myForm.computer_location.$error.maxlength">Поле должно содержать не более 17 символов</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-actions floatRight">
                        <input type="submit"  value="Продолжить" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

