<!-- PowerSupply section -->
<div id="powersupply_div" class="generic-container" ng-controller="PowerSupplyController as ctrl_power">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="lead">Регистрация блока питания</span></div>
        <div class="panel-heading">
            <div class="row">
                <div class="floatRight">
                    <input type="text" class="form-control input-sm" placeholder="Поиск" ng-model="searchPowers" size="34"/>
                </div>
            </div>
        </div>

        <div class="formcontainer">
            <form ng-submit="ctrl_power.submit()" name="myForm" class="form-horizontal">
                <input type="hidden" ng-model="ctrl_power.powersupply.id" />

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable">Производитель</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl_power.powersupply.manufacturer" name="power_manufacturer" class="field form-control input-sm" placeholder="Введите производителя блока питания" required ng-minlength="2" ng-maxlength="10"/>
                            <div class="has-error" ng-show="myForm.$dirty">
                                <span ng-show="myForm.power_manufacturer.$error.required">Это поле необходимо заполнить</span>
                                <span ng-show="myForm.power_manufacturer.$error.minlength">Поле должно содержать как минимум 2 символа</span>
                                <span ng-show="myForm.power_manufacturer.$error.maxlength">Поле должно содержать не более 10 символов</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable">Модель</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl_power.powersupply.model" name="power_model" class="field form-control input-sm" placeholder="Введите модель блока питания" required ng-minlength="2" ng-maxlength="10"/>
                            <div class="has-error" ng-show="myForm.$dirty">
                                <span ng-show="myForm.power_model.$error.required">Это поле необходимо заполнить</span>
                                <span ng-show="myForm.power_model.$error.minlength">Поле должно содержать как минимум 2 символа</span>
                                <span ng-show="myForm.power_model.$error.maxlength">Поле должно содержать не более 10 символов</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable">Мощность</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl_power.powersupply.power" name="power_power" class="field form-control input-sm" placeholder="Введите мощность блока питания" required ng-minlength="2" ng-maxlength="10"/>
                            <div class="has-error" ng-show="myForm.$dirty">
                                <span ng-show="myForm.power_power.$error.required">Это поле необходимо заполнить</span>
                                <span ng-show="myForm.power_power.$error.minlength">Поле должно содержать как минимум 2 символа</span>
                                <span ng-show="myForm.power_power.$error.maxlength">Поле должно содержать не более 10 символов</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-actions floatRight">
                        <input type="submit"  value="{{!ctrl_power.powersupply.id ? 'Добавить' : 'Обновить'}}" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
                        <button type="button" ng-click="ctrl_power.reset()" class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Сбросить данные</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">Список блоков питания</span></div>
        <div class="tablecontainer">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Производитель</th>
                    <th>Модель</th>
                    <th>Мощность</th>
                    <th width="25%"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="p in ctrl_power.powersupplies | filter:searchPowers">
                    <td><span ng-bind="p.manufacturer"></span></td>
                    <td><span ng-bind="p.model"></span></td>
                    <td><span ng-bind="p.power"></span></td>
                    <td>
                        <button type="button" ng-click="ctrl_power.edit(p.id)" class="btn btn-success custom-width">Изменить</button>  <button type="button" class="btn btn-danger custom-width" ng-click="ctrl_power.remove(p.id)">Удалить</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>