<!-- Mouse section -->
<div id="mouse_div" class="generic-container" ng-controller="ROController as ctrl">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">Список мышек</span></div>
        <div class="tablecontainer">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Инвентарный номер</th>
                    <th>Производитель</th>
                    <th>Модель</th>
                    <th>Серийный номер</th>
                    <th width="25%"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="m in ctrl.mouses">
                    <td><span ng-bind="m.invNumber"></span></td>
                    <td><span ng-bind="m.manufacter"></span></td>
                    <td><span ng-bind="m.model"></span></td>
                    <td><span ng-bind="m.serial"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>